{% extends "base.html" %}
{% import 'forms.html' as forms %}
{% block title %}W + N{% endblock %}
{% block content %}
  <form method="post" action="/display" style="padding: 30px;">
    <div style="margin:0;">
    <table>
      <tr>
        <td>
          {{ forms.text_input(label='Original text:') }}
          <p><input type="submit" value="Send"></p>
          <p><a href="/">Start over.</a></p>
        </td>
        <td>
          {{ forms.input_number() }}
          {{ forms.input_checkboxes() }}
          {{ forms.input_display_method() }}
        </td>
      </tr>
    </table>
    </div>
  </form>

<div id="screen_content" style="padding:0; margin:auto; display:block; top:0; bottom:0; left:0; right:0; border:6px solid #000000; height:500px; width:900px; overflow:scroll">
{% for j in range(11) %}
<p {% if session['display'] == 'anaglyph' %}class="anaglyph" style="--width: {{ 100 - 5*(j-5)|abs }}%; --font: {{ 36 - 5*(j-5)|abs }}px serif; --text-shadow: rgba(255, 0, 0, 0.5) {{ 3*((j-5)|abs-1) }}px 0px;"{% else %}class="normal" style="--width: {{ 100 - 5*(j-5)|abs }}%; --font: {{ 26 - (j-5)|abs }}px serif;"{% endif %}>
{% for i in range(0, displayed|count) %}
{{ displayed[i][1][j] }}
{% if (i+1) % 8 == 0 %}
<br/>
{% endif %}
{% endfor %}
</p>
{% endfor %}
</div>
{% endblock content %}
