{% macro input_number(name='step', value=session['step'], size=8, min=1) -%}
  <div class="form_element" style="grid-column: 2; grid-row: 1;">
    <label for="{{ name }}">Value for <i>N</i>:</label>
    <input type="number" name="{{ name }}" id="{{ name }}" value="{{ value|e }}" size="{{ size }}" min="{{ min }}">
  </div>
{%- endmacro %}
{% macro input_button() -%}
  <div class="form_element" style="grid-column: 2; grid-row: 4;">
    <button type="submit">Send</button>
  </div>
{%- endmacro %}
{% macro input_display_method(label="Choose a display:") -%}
    <div class="form_element" style="grid-column: 2; grid-row: 2;">
    <p>{{ label }}</p>
      <input type="radio" id="normal" name="display" value="normal"{% if session['display'] == 'normal' %} checked{%- endif %}>
      <label for="normal">Normal</label>
      <input type="radio" id="anaglyph" name="display" value="anaglyph"{% if session['display'] == 'anaglyph' %} checked{%- endif %}>
      <label for="anaglyph">Anaglyph</label>
    </div>
{%- endmacro %}
{% macro text_input(label='Enter some text:', name='text', value='In the beginning, when God created the universe, the earth was formless and desolate. The raging ocean that covered everything was engulfed in total darkness, and the Spirit of God was moving over the water.') -%}
<div class="form_element" style="grid-column: 1; grid-row: 1 / 3;">
<label for="{{ name }}">{{ label }}</label><br/>
  <textarea id="{{ name }}" name="{{ name }}" rows="4" cols="60">{% if session['text'] %}{{ session['text'] }}{% else %}{{ value }}{% endif %}</textarea>
</div>
{%- endmacro %}
{% macro input_checkboxes() -%}
<div class="form_element" style="grid-column: 1; grid-row: 3;">
    <p>Which parts of speech do you want to modify?</p>
    {% for type in session['partsofspeech'] %}
    <input type="checkbox" id="{{ type }}" name="{{ type }}"{% if session[type] == 'on' %} checked{% endif %}>
    <label for="{{ type }}">{{ type }}</label>
    {% endfor %}
</div>
{%- endmacro %}
