{% extends "base.html" %}
{% block title %}S + 7{% endblock %}
{% block content %}
<form method="post" action="/display" style="padding: 30px;">
		<p><label for="text">Enter some text:</label><br/>
    <textarea id="text" name="text" rows="4" cols="60">In the beginning, when God created the universe, the earth was formless and desolate. The raging ocean that covered everything was engulfed in total darkness, and the Spirit of God was moving over the water.</textarea></p>
		<p><label for="step">Value for <i>n</i>:</label><br/>
		<input type="number" id="step" name="step" min="1" value="1"></p>
    <p><input type="submit" value="Send"></p>
</form></p>
{% endblock content %}
